.gradle/
.gradle-home/
.android-home/
robolectric-deps/
build/
.tmpdiag/
local.properties
.idea/
*.iml
.DS_Store
captures/
.externalNativeBuild/
.cxx/
tmp/
keystore.properties
keystore/
.kotlin/
.verify/
*.apk
*.jks
!gradle/wrapper/gradle-wrapper.jar
